$yellowColor: #ffcd18;
$darkGreyColor: #404040;
$lightGreyColor: #E8E8E8;

$dimension: 63%;

$FontSizeXS: 0.8rem;
$FontSizeS: 1rem;
$FontSizeM: 1.2rem;
$FontSizeML: 1.3rem;
$FontSizeL: 2.5rem;
$FontSizeXL: 4rem;
