
// COLORS

$yellowColor: #ffcd18;
$darkGreyColor: #404040;
$darkerGreyColor: #262626;
$lightGreyColor: #fafafa;

$dimension: 63%;

// FONT SIZE
$FontSizeXS: 0.9rem;
$FontSizeS: 1rem;
$FontSizeM: 1.2rem;
$FontSizeML: 1.5rem;
$FontSizeL: 2.5rem;
$FontSizeXL: 4rem;
